{% extends "../cliente/contenido.html" %}

{% block titulo %} Crear carta {% endblock titulo %} 

{% block contenido %} 

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card shadow p-4">
        <h3 class="text-center mb-4">Registrar Carta</h3>

        <form method="POST">
          {% csrf_token %}

          <!-- Renderizamos los campos -->
          <div class="mb-3">
            {{ form.as_p }}
          </div>

          <!-- Botón de envío -->
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Registrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
